@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f5f9fe;
  --color-secondary: #dcdfe4;
  --color-tertiary: #b3b9c4;
  --color-surface: #f7f8f9;
  --color-foreground: #161a1d;
  --color-scroller: #f7f8f9;
  --color-logout-bg: #22272b;
  --color-logout-text: #dcdfe4;
}

.dark {
  --color-primary: #161a1d;
  --color-secondary: #22272b;
  --color-tertiary: #282e33;
  --color-surface: #161a1d;
  --color-foreground: #f7f8f9;
  --color-scroller: #161a1d;
  --color-logout-bg: #dcdfe4;
  --color-logout-text: #22272b;
}
