@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #F5F9FE;
  --color-secondary: #DCDFE4;
  --color-tertiary: #B3B9C4;
  --color-surface: #F7F8F9;
  --color-foreground: #161A1D;
  --color-scroller: #F7F8F9;
  --color-logout-bg: #22272B;
  --color-logout-text: #DCDFE4;
}

.dark {
  --color-primary: #161A1D;
  --color-secondary: #22272B;
  --color-tertiary: #282E33;
  --color-surface: #161A1D;
  --color-foreground: #F7F8F9;
  --color-scroller: #161A1D;
  --color-logout-bg: #DCDFE4;
  --color-logout-text: #22272B;
}
