name: App test

on:
  push:
    branches: [ main,deliverable-6,TopSpeakerBug, '91_Darkmode2'  ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'

    - name: Install dependencies
      run: |
        yarn install 
    - name: Run tests
      run: |
        yarn test
